
{% if settings.enable_cart_banner and settings.cart_banner_image != blank %}
  <div class="cart-banner">
    <img 
      src="{{ settings.cart_banner_image | image_url: width: 1200 }}" 
      alt="Cart Banner"
      loading="lazy"
    >

  </div>
{% endif %}

<div class="bogo-wrapper">
  <p class="bogo-message"></p>

  <div class="bogo-progress-bar">
    <div class="bogo-progress-fill"> </div>
  </div>
</div>

<style>
    .cart-banner img {
	width: 100%;
}
    .bogo-wrapper{
margin-bottom:16px;
}

.bogo-message{
font-size:14px;
font-weight:500;
margin-bottom:6px;
}


/* BOGO Progress Bar - FINAL */

.bogo-progress-bar{
  width:100%;
  height:6px;
  background:#e5e5e5;
  border-radius:10px;
  overflow:hidden;
  position:relative;
}

.bogo-progress-fill{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:0%;
  background:#000;
  transition:width 0.4s ease;
}
</style>