<div class="single-offer-ticket">
  <h3>✨ Unlock Additional 5% Off on Pre-Paid Orders</h3>
</div>

<style>
  .single-offer-ticket {
    border: 2px dashed #000000ff;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    background: #fff8e6;
    margin-top: 12px;
    animation: shine 2s infinite linear;
  }
  .single-offer-ticket h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 0px;
  }
  }
  @keyframes shine {
    0% { box-shadow: 0 0 4px #ff9900; }
    50% { box-shadow: 0 0 12px #ffcc66; }
    100% { box-shadow: 0 0 4px #ff9900; }
  }
</style>
